<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
  
  <style>
table {
  border-collapse: collapse;
}

a:link {
  color: rgb(63, 63, 204)
}

table, th, td {
  border: 1px solid black;
  text-align: left;
  vertical-align: bottom;
  height: 50px;
  padding: 15px;
  border-bottom: 1px 20px solid #ddd;
  background-color: rgb(230, 241, 230);
  color: black;
  overflow-x:auto;
}

tr:hover {
  background-color: #ffffff;
}


      </style>
    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div>
                          {{ .Content }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
